.App {
  text-align: center;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  height: 100vh;
  width: 100vw;
}

h1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  min-height: 15.5vh;
  color: var(--Very-Dark-Cyan);
  letter-spacing: 10px;
  font-size: 1.5em;
  margin: 0;
}

@media screen and (min-width: 1000px) {
  h1 {
    position: absolute;
    top: 4.5em
  }
  .App {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}