.Calculator {
  height: calc(100vh - 15.5vh);
  width: 100%;
  background-color: var(--White);
  border-radius: 1.5em 1.5em 0 0;
  padding: 2em;
}

.Bill {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.Amount {
  background-color: var(--Very-Dark-Cyan);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-radius: 1.25em;
  padding: 1.5em;
  height: 27.5vh;
}

@media screen and (min-width: 1000px) {
  .Calculator {
    margin-top: 4em;
    height: 30.1875em;
    width: 57.5625em;
    border-radius: 1.75em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 32px 43px rgb(79 166 175 / 20%);
    padding: 2em;
  }

  .Bill {
    width: 47%;
    height: 100%;
    padding: 1em 1em 0em 1em;
  }

  .Amount {
    width: 48%;
    height: 100%;
    padding: 2.5em;
    justify-content: flex-start;
  }

  .Amount button {
    position: relative;
    top: 5em;
  }
}