label {
  width: 100%;
  height: fit-content;
  text-align: left;
  font-weight: 700;
  color: var(--Dark-Grayish-Cyan);
  display: inline-flex;
  flex-direction: row;
  justify-content: space-between;
}

span.error {
  color: rgb(252, 125, 125);
}

.inputBox.error {
  outline: 2px solid rgb(252, 125, 125);
}
.inputBox.error:hover {
  outline: 2px solid rgb(252, 125, 125) !important;
}

input::placeholder {
  color: var(--Dark-Grayish-Cyan);
}

.inputBox {
  margin: 0.5em 0em;
  margin-bottom: 2em;

  width: 100%;
  height: 3em;
  border-radius: 0.25em;
  border: none;
  background-color: var(--Very-Light-Grayish-Cyan);
  text-align: right;
  padding: 0em 1.25em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.inputBox img {
  height: 1.1em;
  width: auto;
}

.inputBox input {
  height: 100%;
  width: 100%;

  text-decoration: none;
  -webkit-appearance: none;
  -moz-appearance: textfield;

  border: none;
  background-color: var(--Very-Light-Grayish-Cyan);
  color: var(--Very-Dark-Cyan);

  text-align: right;
  font-size: 1.5em;

  padding: 0em;
  margin: 0em;
}

.zeroNum {
  color: var(--Grayish-Cyan) !important;
}

.notZeroNum {
  color: var(--Very-Dark-Cyan) !important;
}

.inputBox:hover {
  outline: 2px solid var(--Strong-Cyan);
  cursor: pointer;
}

.inputBox input:hover {
  cursor: pointer;
}

.inputBox input:focus {
  outline: none;
}

.buttons {
  margin-top: 1em;
  margin-bottom: 1.25em;
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.PercentageButton {
  width: 48%;
  height: 2em;
  font-size: 1.5em;
  margin-bottom: 0.55em;
  border: none;
  border-radius: 0.25em;
  color: var(--White);
  background-color: var(--Very-Dark-Cyan);
}

.PercentageButton.selected {
  background-color: var(--Strong-Cyan);
  color: var(--Very-Dark-Cyan);
}

.PercentageButton:hover {
  background-color: var(--Strong-Cyan);
  color: var(--Very-Dark-Cyan);
}

.buttons input {
  width: 48%;
  height: 2em;
  font-size: 1.5em;
  margin-bottom: 0.5em;
  border: none;
  border-radius: 0.35em;
  background-color: var(--Very-Light-Grayish-Cyan);
  color: var(--Very-Dark-Cyan);
  text-align: right;
  padding-right: 1em;
}

.buttons input:focus {
  outline: none;
}

.buttons input:hover {
  outline: 2px solid var(--Strong-Cyan);
  cursor: pointer;
}


@media screen and (min-width: 1440px) {
  .PercentageButton {
    width: 30%;
  }

  .buttons input {
    width: 30%;
  }

  .inputBox {
    height: 3.375em;
    margin-bottom: 2em;
    border-radius: .5em;
  }

  .inputBox:hover {
    outline: 3px solid var(--Strong-Cyan);
    cursor: pointer;
  }

  .buttons {
    margin: 1em 0em 1.25em 0em;
  }
    

}