@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap');

:root {
  --Very-Dark-Cyan: hsl(183, 100%, 15%);
  --Dark-Grayish-Cyan: hsl(186, 14%, 43%);
  --Grayish-Cyan: hsl(184, 14%, 56%);
  --Light-Grayish-Cyan: hsl(185, 41%, 84%);
  --Very-Light-Grayish-Cyan: hsl(189, 41%, 97%);
  --White: hsl(0, 0%, 100%);
}

* {
  font-family: 'Space Mono', monospace !important;

}

html {
  background-color: var(--Light-Grayish-Cyan);
  height: 100vh;
  width: 100vw;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
  height: 100%;
}

#root {
  height: 100%;
  width: 100%;
}